@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

a:hover {
  color: #cd1b57;
  font-size: 1.1rem;
}

.menu-anchor:hover {
  background-color: #cafce1 !important;
  font-weight: bolder;
}

.menu-label {
  font-size: 13px;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 0.15;
}

a,
.fpTHfu {
  background-color: #eef2f6 !important;
}
