.theader {
    color: #fff;
    font-size: 18px;
}

.tblHeader {
    position: sticky;
    top: 100px;
    z-index: 2000;
    background-color: #003f7d;
    color: white;
    height: 40px;
}

td {
    font-size: medium;
}

.pageLabel {
    margin-right: 10px;
}

.tblPage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}
th {
    color: #003F7D;
}

table {
    width: 100%;
}

hr {
    height: 2px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    padding: 8px;
    text-align: center;
}

.deleteBtn {
    text-align: left;
}